@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,900;1,600;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,600;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    z-index: 9999999999;
}

.logo {
    font-family: "Druk Wide Bold Regular";
    font-weight: bolder;
}

.aboutCon {
    background-color: #121212;
    height: auto;
}

.aboutContent {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    padding-inline: 5%;
    position: relative;
    z-index: 999;
}

.image {
    background-position: center 60%;
    background-repeat: no-repeat;
    background-size: cover;
    object-position: center;
    background-image: url('../comp/projImg/me\ \(1\).jpg');
    height: 100vh;
    width: 100%;
    z-index: -99;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50, -50%);
    filter: grayscale(50%);
    opacity: 0;
    pointer-events: none;
}

.image::before {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0) 10%, #121212 99%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.footerCon {
    color: white;
    mix-blend-mode: difference;
}

.greet {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #fff;
    line-height: 92%;
    overflow: hidden;
}

.firstTxt {
    line-height: 92%;
    overflow: hidden;
}

.secTxt {
    line-height: 93%;
    overflow: hidden;
}

.textBel {
    transform: translateY(80px);
}

.txtCon {
    color: #efefef;
    text-transform: uppercase;
    font-size: clamp(2.5rem, 5vw, 10rem);
    font-weight: bolder;
    font-family: "Druk Wide Bold Regular";
    margin-bottom: 5%;
    z-index: 9999;
}

.aboutText {
    height: auto;
    padding-inline: 5%;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    font-weight: 100;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.descAbt {
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
    font-size: clamp(1rem, 2vw, 2rem);
    display: flex;
    flex-direction: column;
    gap: 30px;
}




.techText {
    font-size: clamp(2rem, 3vw, 5rem);
    font-family: "Druk Wide Bold Regular";
    -webkit-text-stroke-width: clamp(.1px, 1.5px, 1.8px);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #fff;
}

.techCon {
    font-size: clamp(2rem, 3vw, 5rem);
    font-family: "Druk Wide Bold Regular";
}

.word,
.words {
    opacity: 0;
    line-height: 0%;
    overflow: hidden;
}

.offers {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.offerCon {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: clamp(2.5rem, 5vw, 10rem);
    font-family: "Druk Wide Bold Regular";
    text-align: left;
}

.offerCon span {
    -webkit-text-stroke-width: clamp(.1px, 1.5px, 1.8px);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #fff;
}

.staggz {
    overflow: hidden;
    line-height: 95%;

}

.staggzText {
    transform: translateY(85px);
}

.offerTop,
.offerBot {
    height: 1px;
    background-color: #fff;
    width: 0%;
}

@media only screen and (max-width: 820px) {
    .cursor {
        display: none;
    }
}


/* firstpage of proj */
.firstPageCon {
    height: auto;
}

.FirstProjImg {
    height: 100vh;
    z-index: 99;
    color: white;
    display: flex;
    align-items: flex-end;
    width: 100vw;
    padding-inline: 5%;
    filter: grayscale(100%);
    position: relative;
}

.absoImg {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../comp/projImg/chatGptClone.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: scale-down;
    background-position: center center;
    opacity: 0;
}

.FTitleCon {
    z-index: 99999999999;
    margin-bottom: 50px;
    font-size: clamp(2.5rem, 5vw, 10rem);
    font-family: "Druk Wide Bold Regular";
}

.txtFirst {
    line-height: 90%;
    overflow: hidden;
}

.staggerOfFirst {
    transform: translateY(80px);
}

.txtSe {
    line-height: 91%;
    overflow: hidden;
    font-size: clamp(2.5rem, 5vw, 10rem);
    -webkit-text-stroke-width: clamp(.1px, 1.5px, 1.8px);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: white;

}

.FirstProjImg::before {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0) 10%, #121212 99%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.absoImgOfSec{
    background-image: url('../comp/projImg/weatherpc.JPG');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: scale-down;
    background-position: center center;
    opacity: 0;

}
.absoImgOfThird  {
    background-image: url('../comp/projImg/lexiconPc.JPG');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: scale-down;
    background-position: center center;
    opacity: 0;
}

@media only screen and (max-width: 660px) {
    .absoImgOfSec, .absoImgOfThird {
        height: 100vh;
        background-image: url('../comp/projImg/weatherApp.JPG');

    }

    .absoImg {
        height: 100vh;
        background-image: url('../comp/projImg/chatGpt.JPG');

    }
    .absoImgOfThird {
        height: 100vh;
        background-image: url('../comp/projImg/lexicon.JPG');

    }


}

.frst {
    background-color: #121212;
}

.secPageCon {
    height: auto;
    background-color: #121212;
    margin-top: 80px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-inline: 5%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.firstPageDesc {
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
    font-size: clamp(1rem, 2vw, 2rem);
}

.prjFor {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.types {
    color: gray;
}

.lineBreak {
    width: 0%;
    height: 1px;
    background-color: #fff;
}

@media only screen and (max-width: 620px) {
    .prjFor {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        gap: 20px;
    }
}

@media only screen and (max-width: 815px) {

    .descAbt,
    .firstPageDesc {
        margin: 0;
        max-width: 100%;
    }
}

.imageConOfFirst {
    margin-top: 80px;

}

.Chaat,
.lastVid {
    height: auto;
    margin-inline: 5%;
    transform: scale(0.5);
    overflow: hidden;
}

.lastVid video {
    transform: scale(2);
}

.chaatVid {
    transform: scale(2);
}

.lastVid {
    margin-top: 50px;
}

video {
    height: 100%;
    width: 100%;
}

.longCon {
    display: grid;
    padding-inline: 5%;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    height: auto;
    margin-top: 80px;
}

.longImg {
    height: 350vh;
    width: 100%;
    transform: scale(0.8);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.longImgs {
    height: 400vh;
    width: 100%;
    transform: scale(0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.longImgs img {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: scale(2);
}
.longImg img {
    all: unset;
    background-color: #121212;
    height: 100%;
    width: 100%;
    background-image: url('../comp/projImg/ssOfFirsts.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: scale(2);
}

.ShortCon {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.shorts {
    width: 80%;
    max-width: 500px;
    height: 80%;
    overflow: hidden;
    transform: scale(0.5);
}

.shorts img {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    transform: scale(1.5);
}


.shorts:nth-child(1) {
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.shorts:nth-child(2) {
    background-image: url('../comp/projImg//shortsTwo.JPG');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.shorts:nth-child(3) {
    background-image: url('../comp/projImg//shortsThree.JPG');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.shorts {
    height: 80vh;
    width: 50%;
}

@media only screen and (max-width: 990px) {
    .shorts img {
        transform: scale(2);
    }

    .longCon {
        display: flex;
        flex-direction: column;
    }

    .ShortCon {
        all: unset;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .shorts {
        height: 600px;
        width: 100%;
    }

    .shorts:nth-child(3) {
        position: relative;
        left: 50%;
    }
    .longImgs {
        height: 200vh;
    }
    .longImg {
        height: 200vh;
    }
}

@media only screen and (max-width: 600px) {
    .longCon {
        display: flex;
        flex-direction: column;
    }

    .ShortCon {
        all: unset;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .shorts {
        height: 400px;
        width: 100%;

    }

    .shorts:nth-child(3) {
        position: relative;
        left: 50%;
    }
}

.ft {
    background-color: #121212;
    padding-inline: 5%;
}

html {
    background-color: #121212;
}

.lineOfFirstPage {
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 50px 0px;
}

.right {
    cursor: pointer;
}

.loadOnes {
    height: 200vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    background-color: black;
}

.loadTwos {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    background-color: gray;
}

.wordz {
    line-height: 0;
    overflow: hidden;
}

.proZ {
    line-height: 100%;
    overflow: hidden;
}

.projStagg {
    transform: translateY(50px);
}

.credText {
    color: gray;
    opacity: 0;
}

.cred {
    margin-top: 80px;
    padding-inline: 5%;
    height: auto;
    font-size: clamp(1rem, 1vw, 3rem);
    color: #fff;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.live {
    height: 100%;
    width: 100%;
    font-family: "Druk Wide Bold Regular";
    max-width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    color: #121212;
    overflow: hidden;
    transition: all 0.5s;
    transform: scale(0.8);

}

.live:hover {
    background-color: black;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #fff;
}

.liveText {
    transform: scale(2);
}

.namesCon {
    line-height: 100%;
    overflow: hidden;
}

.name {
    transform: translateY(50px);
}

.projNav {
    padding-inline: 5%;
    font-family: "Druk Wide Bold Regular";
    font-size: clamp(2.5rem, 5vw, 10rem);
    color: white;
}

.prev,
.next {
    line-height: 95%;
    overflow: hidden;
    position: relative;
    color: white;
    z-index: 999;
}

.hoverAbso,
.hoverAbsos {
    content: "";
    position: absolute;
    background-color: #fff;
    mix-blend-mode: difference;
    left: 50%;
    top: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%) scale(0);
    pointer-events: none;
}

.navText {
    transform: translateY(80px);
}

.projTop {
    width: 0%;
    height: 1px;
    background-color: #fff;
}

.between {
    height: 80px;
    width: 1px;
    background-color: #fff;
    display: block;
}

.navCon {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    align-items: center;
}